In [27]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
# from wordcloud import WordCloud, STOPWORDS
from datetime import datetime
from PIL import Image
from plotnine import *
from sklearn.preprocessing import OrdinalEncoder
from scipy.sparse import coo_matrix
from implicit.evaluation import mean_average_precision_at_k
import implicit
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder

In [3]:
articles_df = pd.read_csv("../Dataset/HandM/articles.csv",dtype={'article_id': str})
customers_df = pd.read_csv("../Dataset/HandM/customers.csv")
transactions_df = pd.read_csv("../Dataset/HandM/transactions_train.csv",dtype={'article_id': str}, parse_dates=['t_dat'])
sample_submission_df = pd.read_csv("../Dataset/HandM/sample_submission.csv")

In [4]:
customers_df.head(2)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...

In [5]:
users = customers_df[['customer_id','age']]

In [16]:
users[['age']].shape

(1371980, 1)

In [21]:
scaler = MinMaxScaler()
users['age'] = scaler.fit_transform(users[['age']])

C:\Users\19095\AppData\Local\Temp/ipykernel_19784/2726862118.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
users.head(2)

                                         customer_id       age
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...  0.397590
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...  0.108434

In [23]:
articles_df.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [24]:
articles_df.head(2)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,0108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.

In [25]:
selected_features = ['article_id','index_code']

In [28]:
items = articles_df[selected_features]

In [30]:
encoder = OrdinalEncoder()
items['index_code'] = encoder.fit_transform(items[['index_code']])

C:\Users\19095\AppData\Local\Temp/ipykernel_19784/1657177779.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
items.head(2)

   article_id  index_code
0  0108775015         0.0
1  0108775044         0.0